@charset "utf-8";
/* CSS Document */

/* GENERAL */

body {
	width:100%;
	font-size:12px;
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin: 0;
    padding: 0;
}



#sitenaam {
	font-size:0.75em;
	font-family: 'Indie Flower', cursive;
}

em {
	font-style:normal;
	font-weight:200;
	font-variant:small-caps;
}
strong {
	font-size:1.125em;
	font-weight:600;
	font-variant:small-caps;
}

@media (min-width: 235px) {
	#sitenaam {
	font-size:1.25em;
	font-family: 'Indie Flower', cursive;

}}

@media (min-width: 1200px) {
	#sitenaam {
	font-size:2em;
	font-family: 'Indie Flower', cursive;

}}


/* h1 {
	padding: 0 3%;
}*/
p {
	padding:0 6em;
}
#jobprofiel li {
	list-style-type:circle;
	margin-left:8%;
}

#contacticon {
	width:25px;
	height:25px;
	display:block;
}




/*** achtergrond ***/
.slide1, .slide2 .slide3 .slide4{ width: 100%; }
.slide1{
    background:url('../img/antwerp.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 300px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}
 
.slide2, .slide4, .slide6{
    background-color: #fff;
    color: #333333;
    height: auto;
	width: 100%;
    overflow: hidden;
    padding: 3.125em 6em;
}
 
.slide3{
    background: url('../img/zee.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 300px;
    padding: 170px 0 0 0;
    background-size: cover;
}

.slide5{
    background: url('../img/hart3.jpg') 50% 0 no-repeat fixed;
    height: 300px;
    margin: 0 auto;
    padding: 250px 0;
    color: #fff;
    background-size: cover;
}

.jumbotron {
	font-size: 45px;
	margin-bottom: 0px;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	background:transparent;
	margin-top:2em;
	padding:0;
}


@media (min-width: 1200px) {

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
	width: 80%;
}
.slide1{
    background:url('../img/antwerp.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height:350px;
    margin: 0 auto;
    padding: 200px 0 260px 0;
    background-size: cover;
}
 
.slide2, .slide4, .slide6{
    background-color: #fff;
    color: #333333;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 3.125em 6em;
}
 
.slide3{
    background: url('../img/zee.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 600px;
	margin: 0 auto;
    padding: 170px 0 0 0;
    background-size: cover;
	
}
 

 
.slide5{
    background: url('../img/hart3.jpg') 50% 0 no-repeat fixed;
    height: 200px;
    margin: 0 auto;
    padding: 250px 0;
    color: #fff;
    background-size: cover;
}

}


/*** Sidebar ***/
.sidebar {
	width:1.25em;
	height:6.9em;
	background:#7f7f7f;
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:11em;
	right:0;
	float:right;
	z-index:1;
	
}

.sidebar ul {
	padding-right:0;
	float:right;
}

.sidebar ul li {
	list-style-type:none;
}

.sidebar ul li a {
	color:#BEBEBE;
	text-decoration:none;
}


/***** contact *****/
.contact {
	width:2.3em;
	height:13em;
	background:#7f7f7f;
	background:rgba(0,0,0,0.5);
	position:fixed;
	bottom:3em;
	right:0;
	float:right;
	z-index:1;
}
.contact ul {
	list-style-type:none;
	padding:1.5px;
	}
.contact ul li {
}
.contact ul li a {}



/*** footer ***/
footer {
	display:inline-block;
	float:left;
}


/*clearfix */
.clearfix:before, .clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}
/*enkel voor IE6/7 */
.clearfix {*zoom: 1;}


